@font-face {
  font-family: "WorkSans-Regular";
  font-style: normal;
  src: local("WorkSans-Regular"), local("WorkSans-Regular"),
    url("../fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Bold";
  font-style: normal;
  src: local("WorkSans-Bold"), local("WorkSans-Bold"),
    url("../fonts/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Black";
  font-style: normal;
  src: local("WorkSans-Black"), local("WorkSans-Black"),
    url("../fonts/WorkSans-Black.ttf") format("truetype");
}

@font-face {
  font-family: "EBGaramond-Regular";
  font-style: normal;
  src: local("EBGaramond-Regular"), local("EBGaramond-Regular"),
    url("../fonts/EBGaramond-Regular.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
