html {
    background-color: #f2f2f2;
}

.header {
    width: 85%;
    margin: 0;
    margin: auto;
    margin-top: 125px;
}

@media screen and (max-width: 800px) {
    .header {
        margin-top: 100px;
    }
}

.header-text {
    color: #333333;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 165px;
    letter-spacing: 15px;
    margin: 0;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .header-text {
        font-size: 130px;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 800px) {
    .header-text {
        font-size: 100px;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 500px) {
    .header-text {
        font-size: 45px;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 350px) {
    .header-text {
        font-size: 40px;
        letter-spacing: 0;
    }
}

@keyframes colorChange {
    0% {
        color: #333;
    }
    100% {
        color: white;
    }
}

.about {
    width: 85%;
    margin: 0;
    margin: auto;
    margin-top: 100px;
}

@media screen and (max-width: 800px) {
    .about {
        margin-top: 75px;
    }
}

@media screen and (max-width: 500px) {
    .about {
        margin-top: 75px;
    }
}

.about-text {
    color: #333333;
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 26px;
    width: 700px;
    line-height: 1.5;
}

@media screen and (max-width: 1200px) {
    .about-text {
        width: 80%;
        font-size: 28px;
    }
}

@media screen and (max-width: 800px) {
    .about-text {
        width: 80%;
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .about-text {
        width: 100%;
        font-size: 20px;
    }
}

.about-span {
    text-decoration: none;
    font-weight: 700;
    color: #333333;
    transition: all 0.25s ease;
    border-color: transparent;
}

.about-span:hover {
    border-bottom: 3px solid #333333;
}

.experience-hxouse {
    width: 85%;
    margin: auto;
    display: flex;
    margin-top: 175px;
}

@media screen and (max-width: 500px) {
    .experience-hxouse {
        margin-top: 75px;
    }
}

@media screen and (max-width: 350px) {
    .experience-hxouse {
        margin-top: 100px;
    }
}

.experience-tangerine {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 275px;
}

@media screen and (max-width: 500px) {
    .experience-tangerine {
        margin-top: 175px;
    }
}

@media screen and (max-width: 350px) {
    .experience-tangerine {
        margin-top: 225px;
    }
}

.experience-cipher {
    width: 85%;
    margin: auto;
    display: flex;
    margin-top: 225px;
}

@media screen and (max-width: 500px) {
    .experience-cipher {
        margin-top: 250px;
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 350px) {
    .experience-cipher {
        margin-top: 300px;
        margin-bottom: 250px;
    }
}

.project-right {
    width: 85%;
    margin: auto;
    display: flex;
    margin-top: 100px;
}

@media screen and (max-width: 500px) {
    .project-right {
        margin-top: 50px;
    }
}

.project-left {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

@media screen and (max-width: 500px) {
    .project-left {
        margin-top: 50px;
    }
}

.contact {
    width: 85%;
    margin: 0;
    margin: auto;
    margin-top: 150px;
}

@media screen and (max-width: 800px) {
    .contact {
        margin-top: 100px;
    }
}

@media screen and (max-width: 500px) {
    .contact {
        margin-top: 75px;
    }
}

.contact-email-text {
    color: #333333;
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .contact-email-text {
        font-size: 50px;
    }
}

@media screen and (max-width: 800px) {
    .contact-email-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .contact-email-text {
        font-size: 24px;
    }
}

.contact-email-link {
    text-decoration: none;
    color: #333333;
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    transition: all 0.25s ease;
    border-color: transparent;
    padding-bottom: 1px;
}

@media screen and (max-width: 1200px) {
    .contact-email-link {
        font-size: 50px;
    }
}

@media screen and (max-width: 800px) {
    .contact-email-link {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .contact-email-link {
        font-size: 24px;
    }
}

.contact-email-link:hover {
    border-bottom: 4px solid #333333;
}

.contact-social {
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 800px) {
    .contact-social {
        margin-top: 100px;
    }
}

@media screen and (max-width: 500px) {
    .contact-social {
        justify-content: flex-start;
        margin-top: 50px;
    }
}

.contact-social-inner {
    display: flex;
    flex-direction: column;
}

.contact-social-text {
    color: #333333;
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    .contact-social-text {
        font-size: 50px;
    }
}

@media screen and (max-width: 800px) {
    .contact-social-text {
        font-size: 40px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    .contact-social-text {
        font-size: 24px;
        margin-bottom: 15px;
    }
}

.contact-link-container {
    margin-top: 10px;
}

@media screen and (max-width: 500px) {
    .contact-link-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .contact-internship {
        margin-top: 50px;
    }
}

.contact-social-link {
    text-decoration: none;
    color: #333333;
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    transition: all 0.25s ease;
    border-color: transparent;
    padding-bottom: 1px;
}

@media screen and (max-width: 1200px) {
    .contact-social-link {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .contact-social-link {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .contact-social-link {
        font-size: 20px;
    }
}

.contact-social-link:hover {
    border-bottom: 4px solid #333333;
}

.contact-internship {
    margin-top: 150px;
    margin-bottom: 200px;
    width: 90%;
}

@media screen and (max-width: 800px) {
    .contact-internship {
        margin-top: 100px;
    }
}

@media screen and (max-width: 500px) {
    .contact-internship {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

.contact-internship-text {
    color: #333333;
    font-family: "Montserrat";
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .contact-internship-text {
        font-size: 60px;
    }
}

@media screen and (max-width: 800px) {
    .contact-internship-text {
        font-size: 45px;
    }
}

@media screen and (max-width: 500px) {
    .contact-internship-text {
        font-size: 32px;
    }
}

.bottom {
    margin-top: 100px;
}

@media screen and (max-width: 500px) {
    .bottom {
        margin-top: 50px;
    }
}