.container {
    width: 85%;
    margin: 0;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: flex-start;
}

.section {
    width: 700px;
    display: flex;
    border-top: 15px solid #333333;
    justify-content: flex-end;
}

.text {
    color: #333333;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 45px;
    margin: 0;
    margin-top: 30px;
}