.container {
    width: 700px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.name {
    color: #333333;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 100px;
    margin: 0;
}

.tagContainer {
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
}

.marquee {
    width: 200%;
    position: absolute;
    overflow: hidden;
    animation: marquee-animation 8s linear infinite;
}

.innerM {
    float: left;
    width: 50%;
}

@keyframes marquee-animation {
    0% { left: 0; }
    100% { left: -100%; }
  }

.tag {
    align-items: center;
    background-color: #bdbdbd;
    color: #333333;
    display: inline-flex;
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 700;
    height: 2em;
    justify-content: center;
    line-height: 1.6;
    padding-left: .9em;
    padding-right: .9em;
    white-space: nowrap;
    margin-right: 32px;
}

.summary {
    color: #333333;
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    margin-top: 75px;
    width: 80%;
}