.container {
    width: 500px;
    margin: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.25s ease;
}

.container:hover {
    transform: scale(1.02);
}

.container:hover .name {
    color: #2F80ED;
}

.container:hover .marquee {
    animation: marquee-animation 25s linear infinite;
}

@media screen and (max-width: 800px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
    }
}

.name {
    color: #333333;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 75px;
    margin: 0;
    transition: all 0.25s linear;
}

@media screen and (max-width: 800px) {
    .name {
        font-size: 60px;
    }
}

@media screen and (max-width: 500px) {
    .name {
        font-size: 45px;
    }
}

@media screen and (max-width: 350px) {
    .name {
        font-size: 40px;
    }
}

.tagLimit {
    width: 80%;
}

.tagContainer {
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .tagContainer {
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .tagContainer {
        margin-top: 15px;
    }
}

.marquee {
    width: 200%;
    position: absolute;
    overflow: hidden;
    animation: marquee-animation 9s linear infinite;
    transition: all 3s ease;
}

.innerM {
    float: left;
    width: 50%;
}

@keyframes marquee-animation {
    0% { left: 0; }
    100% { left: -100%; }
  }

.tag {
    align-items: center;
    background-color: #bdbdbd;
    color: #333333;
    display: inline-flex;
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 700;
    height: 1.7em;
    justify-content: center;
    line-height: 1.6;
    padding-left: .8em;
    padding-right: .8em;
    white-space: nowrap;
    margin-right: 32px;
}

@media screen and (max-width: 800px) {
    .tag {
        font-size: 1rem;
        padding-left: .8em;
        padding-right: .8em;
        height: 2em;
        margin-right: 28px !important;
    }
}

@media screen and (max-width: 700px) {
    .tag {
        font-size: 1rem;
        padding-left: .8em;
        padding-right: .8em;
        height: 2em;
        margin-right: 14px !important;
    }
}

@media screen and (max-width: 500px) {
    .tag {
        font-size: 0.8rem;
        padding-left: .7em;
        padding-right: .7em;
        height: 1.8em;
        margin-right: 11px !important;
    }
}

@media screen and (max-width: 400px) {
    .tag {
        font-size: 0.8rem;
        padding-left: .7em;
        padding-right: .7em;
        height: 1.8em;
        margin-right: 4px !important;
    }
}

@media screen and (max-width: 350px) {
    .tag {
        font-size: 0.7rem;
        padding-left: .7em;
        padding-right: .7em;
        height: 1.8em;
        margin-right: 2px !important;
    }
}

.summary {
    color: #333333;
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    margin-top: 50px;
    width: 80%;
}

@media screen and (max-width: 800px) {
    .summary {
        font-size: 22px;
        margin-top: 55px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .summary {
        font-size: 18px;
        margin-top: 45px;
        width: 100%;
    }
}