.container {
    width: 250px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.skillTitle {
    margin: 0;
}

.title {
    writing-mode: vertical-rl;
    margin: 0;
    text-orientation: sideways;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
}

.skillSection {
    display: flex;
    flex-direction: column;
}

.skill {
    margin: 0;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}